$f:"Manrope", sans-serif;

*{
    padding: 0;
    margin: 0;
    font-family: $f;
}
body{
    background-color: hsl(218, 23%, 16%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cont{
    height:40vh;
    width: 90%;
    border-radius: 20px;
    background-color:hsl(217, 19%, 24%) ;
    display: flex;
    //flex-direction:column;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    p{
        color: hsl(150, 100%, 66%);
        text-transform: uppercase;
        letter-spacing: 5px;
        height: 10%;
    }
    h1 {
        text-align: center;
        height: 50%;
        width: 90%;
        //margin-bottom: 25%;
        color: hsl(193, 38%, 86%);
        font-size: 5vmin;
    }
    #bl{
        width: 50px;
        height: 50px;
        padding: 9px;
        position: relative;
        bottom: -40px;
        background-color:hsl(150, 100%, 66%);
        border-radius: 50%;
        object-fit: scale-down;
        //border: 2px solid hsl(150, 100%, 66%);
    }
}

#loader{
    width: 100px;
    height: 100px;
    background-color: #282828;
    position:absolute;
    z-index: -1;
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        //background-color: hsl(150, 100%, 66%);
        transition: all 0.1s;
    }
}
.one{
    background-color: orangered;
    animation: load infinite 1s reverse;
}
.two{
    animation: load infinite 1s 1s ;
    background-color: greenyellow;
}
.three{
    animation: load infinite 1s 2s alternate-reverse ;
    background-color: rgb(0, 115, 255);
}
@keyframes load {
    25%{
        width: 20px;
        height: 20px;
        
    }
    50%{

    }
    75%{

    }
    100%{
        width: 5px;
        height: 5px;
    }
}

@media only screen and (min-width : 600px) {
    .cont{
        height: 45vh;
        width: 40vw;
        h1{
            font-size: 3vmin;
        }
    }

}
@media only screen and (min-width : 900px) {
    .cont{
        height: 60vh;
        width: 30vw;
        h1{
            font-size: 3vmin;
        }
    }
}
@media only screen and (min-width : 1000px) {
    .cont{
        height: 65vh;
        width: 30vw;
        h1{
            font-size: 3.5vmin;
        }
    }
}